
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481694463002'); /* IE9*/
  src: url('iconfont.eot?t=1481694463002#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481694463002') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481694463002') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481694463002#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e600"; }

.icon-sousuo:before { content: "\e601"; }

.icon-qq:before { content: "\e606"; }

.icon-weixin:before { content: "\e675"; }

.icon-wode:before { content: "\e624"; }

.icon-shouyeshouye:before { content: "\e60a"; }

.icon-fenlei:before { content: "\e609"; }

.icon-saoyisao:before { content: "\e655"; }

.icon-xinlang1:before { content: "\e62c"; }

.icon-dianzandian:before { content: "\e660"; }

.icon-crown:before { content: "\e629"; }

